.productList {
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto 50px auto;
}

.productWrap {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.productBox {
    position: relative;
    border: 1px solid black;
    width: 150px;
    cursor: pointer;
}

.productBox > div:nth-of-type(1){
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.productBox > div:nth-of-type(2){
    width: 100%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cartIn {
    border-color: gray;
}

.cartOut {
    border-color: black;
}